<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfDbObjectInfo
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

	<DbObjectInfo Key="U " Name="User table">
		<Tabs>
			<Tab Title="Columns" SqlKey="GetTableColumns" View="grid" />
			<Tab Title="Parents" SqlKey="GetTableForeignKeys" View="grid" />
			<Tab Title="Children" SqlKey="GetTableReferencedBy" View="grid" />
			<Tab Title="Data" SqlKey="SelectData" View="grid" />
			<Tab Title="Triggers" SqlKey="DMLTriggers" View="grid" />
			<Tab Title="Check" SqlKey="CheckConstraints" View="grid" />
			<Tab Title="Indexes" SqlKey="TableIndexes" View="grid" />
			<Tab Title="Storage" SqlKey="SpaceUsed" View="grid" />
			<Tab Title="Partitions" SqlKey="Partitions" View="grid" />
		</Tabs>
	</DbObjectInfo>

	<DbObjectInfo Key="S " Name="System table">
		<Tabs>
			<Tab Title="Columns" SqlKey="GetTableColumns" View="grid" />
			<Tab Title="Parents" SqlKey="GetTableForeignKeys" View="grid" />
			<Tab Title="Children" SqlKey="GetTableReferencedBy" View="grid" />
			<Tab Title="Data" SqlKey="SelectData" View="grid" />
			<Tab Title="Triggers" SqlKey="DMLTriggers" View="grid" />
			<Tab Title="Check" SqlKey="CheckConstraints" View="grid" />
			<Tab Title="Indexes" SqlKey="TableIndexes" View="grid" />
			<Tab Title="Storage" SqlKey="SpaceUsed" View="grid" />
			<Tab Title="Partitions" SqlKey="Partitions" View="grid" />
		</Tabs>
	</DbObjectInfo>

	<DbObjectInfo Key="V " Name="View">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Columns" SqlKey="GetTableColumns" View="grid" />
			<Tab Title="Data" SqlKey="SelectData" View="grid" />
			<Tab Title="Triggers on view" SqlKey="DMLTriggers" View="grid" />
			<Tab Title="Indexes on view" SqlKey="TableIndexes" View="grid" />
			<Tab Title="Storage" SqlKey="SpaceUsed" View="grid" />
			<Tab Title="Partitions" SqlKey="Partitions" View="grid" />
		</Tabs>
	</DbObjectInfo>

	<DbObjectInfo Key="P " Name="Stored procedure">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Parameters" SqlKey="GetProcParameters" View="grid" />
		</Tabs>
	</DbObjectInfo>
	<DbObjectInfo Key="RF" Name="Replication filter stored procedure">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Parameters" SqlKey="GetProcParameters" View="grid" />
		</Tabs>
	</DbObjectInfo>
	<DbObjectInfo Key="X " Name="Extended stored procedure">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Parameters" SqlKey="GetProcParameters" View="grid" />
		</Tabs>
	</DbObjectInfo>

	<DbObjectInfo Key="FN" Name="Scalar function">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Parameters" SqlKey="GetProcParameters" View="grid" />
		</Tabs>
	</DbObjectInfo>
	<DbObjectInfo Key="IF" Name="In-lined table-function">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Parameters" SqlKey="GetProcParameters" View="grid" />
			<Tab Title="Returns table" SqlKey="GetTableColumns" View="grid" />
		</Tabs>
	</DbObjectInfo>
	<DbObjectInfo Key="TF" Name="Table function">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
			<Tab Title="Parameters" SqlKey="GetProcParameters" View="grid" />
			<Tab Title="Returns table" SqlKey="GetTableColumns" View="grid" />
			<Tab Title="Indexes on returned table" SqlKey="TableIndexes" View="grid" />
		</Tabs>
	</DbObjectInfo>

	<DbObjectInfo Key="TR" Name="Trigger">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
		</Tabs>
	</DbObjectInfo>

	<DbObjectInfo Key="C " Name="Check constraint">
		<Tabs>
			<Tab Title="Check" SqlKey="CheckConstraintSingle" View="grid" />
		</Tabs>
	</DbObjectInfo>
	<DbObjectInfo Key="D " Name="Default">
		<Tabs>
			<Tab Title="Source" SqlKey="GetSourceCode" View="text" />
		</Tabs>
	</DbObjectInfo>
	<DbObjectInfo Key="F " Name="Foreign key constraint">
	</DbObjectInfo>
	<DbObjectInfo Key="L " Name="Log">
	</DbObjectInfo>
	<DbObjectInfo Key="PK" Name="Primary key constraint">
	</DbObjectInfo>
	<DbObjectInfo Key="R " Name="Rule">
	</DbObjectInfo>
	<DbObjectInfo Key="UQ" Name="Unique constraint">
	</DbObjectInfo>

</ArrayOfDbObjectInfo>
